{% extends 'base.html' %}
{% block content %}
{% load humanize %}
<!-- Banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Search Results</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Search</li>
            </ul>
        </div>
    </div>
</div>
<!-- Banner end -->

<!-- Search box 3 start -->
<div class="search-box-3 sb-7 bg-active">
    <div class="container">
        <div class="search-area-inner">
            <div class="search-contents">
                <form method="GET">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="form-control search-fields" name="model">
                                    <option selected="true" disabled="disabled">Model</option>
                                    {% for model in model_search %}
                                    <option value="{{model}}">{{model}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="form-control search-fields" name="city">
                                    <option selected="true" disabled="disabled">Location</option>
                                    {% for city in location_search %}
                                    <option value="{{city}}">{{city}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="form-control search-fields" name="year">
                                    <option selected="true" disabled="disabled">Year</option>
                                    {% for year in year_search %}
                                    <option value="{{year}}">{{year}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="form-control search-fields" name="color">
                                    <option selected="true" disabled="disabled">Colour</option>
                                    {% for color in color_search %}
                                    <option value="{{color}}">{{color}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <div class="range-slider">
                                    <div data-min="0" data-max="2000000" data-unit="INR" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <button class="btn btn-block button-theme btn-md">
                                    <i class="fa fa-search"></i>Find
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Search box 3 end -->

<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Here's your <span>Bikes</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="row">
            {% for feature in bikes %}
            <div class="col-lg-4 col-md-6">
                <div class="car-box-3">
                    <div class="car-thumbnail">
                        <a href="{% url 'bike_details' feature.id %}" class="car-img">
                            {% if feature.is_featured %}
                            <div class="tag-2">Featured</div>
                            {% else %}
                            <div class="tag">For Sale</div>
                            {% endif %}
                            <div class="price-box">
                                <span>₹{{feature.price | intcomma}}</span>
                            </div>
                            <img class="d-block w-100" src="{{feature.bike_photo.url}}" alt="car" style="min-height:262px; max-height:262px">
                        </a>
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <div class="car-magnify-gallery">
                                        <a href="{{feature.bike_photo.url}}" class="overlap-btn">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="{{feature.bike_photo.url}}">
                                        </a>
                                        <a href="{{feature.bike_photo_1.url}}" class="hidden">
                                            <img class="hidden" src="{{feature.bike_photo_1.url}}">
                                        </a>
                                        <a href="{{feature.bike_photo_2.url}}" class="hidden">
                                            <img class="hidden" src="{{feature.bike_photo_2.url}}">
                                        </a>
                                        <a href="{{feature.bike_photo_3.url}}" class="hidden">
                                            <img class="hidden" src="{{feature.bike_photo_3.url}}">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="{% url 'bike_details' feature.id %}">{{feature.bike_title}}</a>
                        </h1>
                        <div class="location">
                            <a href="{% url 'bike_details' feature.id %}">
                                <i class="flaticon-pin"></i>{{feature.state}}, {{feature.city}}
                            </a>
                        </div>
                        <ul class="facilities-list clearfix">
                            <li>{{feature.color}}</li>
                            <li>{{feature.miles | intcomma}} km</li>
                            <li>Owner: {{feature.no_of_owner}}</li>
                            <li>Milage: {{feature.milage}} km/l</li>
                            <li>{{feature.year}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Featured car end -->
{% endblock content %}